@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

#root {
  margin-top: -20px;
}
.App {
  text-align: center;
}
body {
  background-color: #eee;
}

.App-header {
  -webkit-font-smoothing: anti-aliased;
  background-color: #94d59f;
  color: #437e4d;
  box-shadow: 0px 33px 1px 10px rgba(34, 34, 34, .1);
}

.appInput {
  background-color: #437e4d;
  color: darkgray;
  margin-top: -20px;
}

.inputField {
  padding: 10px;
  width: 30%;
  min-width: 50%;
}
.appInputText {
  text-align: center;
}

.appText {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .4);
  clear: both;
  height: auto;
}
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.ulContainer {
  /*margin-left: auto;
  margin-right: auto;*/
  transition: display 2s ease-out 1s;
}
.item {
  /*transition: display 2s ease-out 1s;*/
  /*float: left;*/
}
.checkBox {
  transition: display 2s ease-out 1s;
  float: right;
}

li {
  transition: display 2s ease-out 1s;
  list-style-type: none;
  width: 100%;
  border-top: 1px solid lightgray;
  background-color: white;
  transition: all 200ms 100ms ease-in-out;
  -webkit-transition: -webkit-transform all 500ms ease-out;
  -moz-transition: -moz-transform all 500mss ease-out;
}
li:hover {
  color: #437e4d;
  box-shadow: 2px 6px 20px lightgray;
  transform: scale(1.03);
}
li:first-child {
  border: none;
}

.done {
  opacity: .5;
}

.delete {
  margin: auto;
  padding: 6px 9px;
  background-color: #f16b6f;
  color: white;
  border-radius: 4px;
  margin-right: 6px;
  margin-left: 6px;
  flex: 1 1 auto;
  cursor: pointer;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
ul {
  padding: 0px;
}

.taskName {
  flex: 1 0 90%;
}
